html{
  overflow: auto;
}
ul{
    margin: 0px;
    padding: 0px;
}
body{
  margin: 0px;

}
div.Header{
  background-color: blue;
  width: 100%;
  height: 130px;
  margin: auto;
  opacity: 1;
}
.Header ul,li {
  list-style-type: none;
  display: inline;

}

.Header a:hover, button:hover{
  background-color: green;
  transition: all 1s ease;
}
.Header img{
  margin-top: 3px;
  width: 200px;
  height: 125px;
  margin-bottom: -49px;
  margin-left:30px;
}
.aBtn, .aBtn1 ,.button{
  background-color: whitesmoke;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  transition: all 1s ease;
  width: 183px;
}
.aBtn{
  margin-bottom: 10px;
}

.aBtn1{
  margin-right: 100px;
  margin-left: 10px;
}
.progress-indicator{
  height: 1vh;
  width: 0%;
  background: #ff3;
  display: block;
}
.content{
  min-height: 1000px;
  height: 1000px;
  background: black;
}
.Options{
  display: fixed;
}
/*  popup overlay */
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
  
.button {
  display: inherit;
  font-size: 1em;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-out;
  margin-top: 37px;
  margin-right: 10px;
  float: right;

}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}  
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
} 
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.optionPancake{
  display: none;
}
/*   RESPONSIVE BAR for Mobile Phones   */

@media screen and (max-width: 1266px){
  .optionPancake{
    display: inline;
    position:absolute;
    left:100%;
    z-index: 3;
  }
  .optionPancake .fa-close{
    display: none;
    cursor: pointer;
    opacity: 1;
    position: inherit;
    right: 25px;
    top: 10px;
  }
  .optionPancake .fa-bars{
    opacity: 1;
    position: inherit;
    right: 25px;
    top: 10px;
    cursor: pointer;
  }
  .optionPancake .fa{
    display:  inherit;
    margin: 10px 25px;
    font-size: 100px;
  }
  .Options{
    height: 100%;
    width: 500px;
    padding-bottom: 100%; 
    position: absolute;
    top:0;
    right:0px;
    background-color: #ff3;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .Options ul a{
    display:block
  }
  .button{
    display: block;
    float: none;
    margin-left: 127px;
    margin-top: 10px;
    width: 183px;
    max-width: 183px;
    min-width: 183px;
  }
  .aBtn, .aBtn1{
  width: 183px;
  max-width: 183px;
  min-width: 183px;
  display: block;
    
  }
  .aBtn1{
    width: 183px;
    max-width: 100vw;
    margin-left: 120px;
    margin-bottom: 70px;
    min-width: 183px;

  }
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
    z-index: 15;
  }
}